<div class="content-wrap">

    {% for block in section.blocks %}
        <div class="content-block-{{ block.type }}" {{ block_shopify_attributes }}>
            {% case block.type %}
                {% when 'collection' %}
                    <!-- begin colleciton block -->
                    {% assign collection = collections[block.settings.collection] %}
                    <div class="collection-block-info">
                        <h2>
                            {% if block.settings.title != blank %}
                                {{ block.settings.title }}
                            {% else %}
                                {{ collection.title }}
                            {% endif %}
                        </h2>

                        <p>
                            {% if block.settings.description != blank %}
                                {{ block.settings.description }}
                            {% else %}
                                {{ collection.description }}
                            {% endif %}
                        </p>

                        {% if block.settings.show_button %}
                            <a href="{{ collection.url }}" class="button">
                                {% if block.settings.content != blank %}
                                    {{block.settings.button_text }}
                                {% else %}
                                    {{ 'general.shop.shop_now' | t }}
                                {% endif %}
                            </a>
                        {% endif %}
                    </div>
                    {% for product in collection.products limit: block.settings.max_products %}
                        {% include 'product-card' %}
                    {% endfor %}
                    <!-- end collection block -->
                {% when 'image-text' %}
                    <!-- image/text block  -->
                    <div class="image-text direction-{{ block.settings.direction }}">

                        {% if block.settings.image != blank %}
                            <div class="block-image">
                                <img src="{{ block.settings.image | img_url: '600x' }}" alt="{{ block.settings.image.alt }}">
                            </div>
                        {% endif %}

                        <div class="block-content">

                            <h3>{{block.settings.title }}</h3>
                            {% if block.settings.content != blank %}
                                <p>{{block.settings.content }}</p>
                            {% endif %}

                            {% if block.settings.show_button and block.settings.button_url != blank %}
                                <a href="{{ block.settings.button_url }}" class="button">
                                    {% if block.settings.button_text != blank %}
                                        {{block.settings.button_text }}
                                    {% else %}
                                        {{ 'general.shop.shop_now' | t }}
                                    {% endif %}
                                </a>
                            {% endif %}

                        </div>
                    </div>
                    <!-- end image/text block  -->
                {% when 'quote' %}
                    <!-- quote block -->
                    <blockquote>
                        <p>
                            {{ block.settings.content | newline_to_br }}
                        </p>
                        <cite>
                            {{ block.settings.source | newline_to_br }}
                        </cite>

                        {% if block.settings.show_button and block.settings.button_url != blank %}
                            <a href="{{ block.settings.button_url }}" class="button">
                                {% if block.settings.button_text != blank %}
                                    {{block.settings.button_text }}
                                {% else %}
                                    {{ 'general.shop.read_more' | t }}
                                {% endif %}
                            </a>
                        {% endif %}
                    </blockquote>
                    <!-- end quote block -->

            {% endcase %}
        </div>
    {% endfor %}
</div>

{% schema %}
{
    "name": "Page Content",
    "class": "page-content-section",
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "id": "collection",
            "type": "collection",
            "label": "Collection"
          },
          {
            "id": "max_products",
            "type": "range",
            "min": 2,
            "max": 6,
            "step": 1,
            "unit": "ct",
            "label": "Products to Show",
            "default": 2
          },
          {
            "id": "title",
            "type": "text",
            "label": "Title",
            "info": "Defaults to Collection Title"
          },
          {
            "id": "content",
            "type": "textarea",
            "label": "Content"
          },
          {
            "id": "show_button",
            "type": "checkbox",
            "label": "Show Button?",
            "default": true
          },
          {
            "id": "button_text",
            "type": "text",
            "label": "Button Text",
            "placeholder": "Shop Now",
            "info": "Defaults to \"Shop Now\""
          }
        ]
      },
      {
        "type": "image_text",
        "name": "Image & Text",
        "settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Title",
            "info": "Defaults to Collection Title"
          },
          {
            "id": "content",
            "type": "textarea",
            "label": "Content"
          },
          {
            "id": "show_button",
            "type": "checkbox",
            "label": "Show Button?",
            "default": true
          },
          {
            "id": "button_url",
            "type": "url",
            "label": "Button URL"
          },
          {
            "id": "button_text",
            "type": "text",
            "label": "Button Text",
            "placeholder": "Shop Now",
            "info": "Defaults to \"Shop Now\""
          },
          {
            "id": "direction",
            "type": "select",
            "label": "Direction",
            "options": [
              {
                "value": "rtl",
                "label": "Image -> Text"
              },
              {
                "value": "ltr",
                "label": "Text -> Image"
              }
            ]
          },
          {
            "id": "bgcolor",
            "type": "select",
            "label": "Background Color",
            "options": [
              {
                "value": "white",
                "label": "White"
              },
              {
                "value": "black",
                "label": "Black"
              }
            ],
            "default": "white"
          }
        ]
      },
      {
        "type": "quote",
        "name": "Quote",
        "settings": [
          {
            "id": "content",
            "type": "textarea",
            "label": "Content"
          },
          {
            "id": "source",
            "type": "textarea",
            "label": "Source"
          },
          {
            "id": "show_button",
            "type": "checkbox",
            "label": "Show Button?",
            "default": true
          },
          {
            "id": "button_url",
            "type": "url",
            "label": "Button URL"
          },
          {
            "id": "button_text",
            "type": "text",
            "label": "Button Text",
            "placeholder": "Read More",
            "info": "Defaults to \"Read More\""
          }
        ]
      }
    ],
    "default": {}
  }
{% endschema %}