<div class="slideshow-wrap" data-autoplay="data-autoplay-speed">
    {{ section.settings.autoplay_speed }}
    {% for block in section.blocks %}
    <div class="slide" {{ block_shopify_attributes }}>
        {{ block.settings.image }}

        {{block.settings.title }}

        {{block.settings.content }}
        
        {{block.settings.button_url }}

        {{block.settings.button_text }}

    </div>
    {% endfor %}
</div>

{% schema %}

{
    "name":"slideshow",
    "class":"hero-slideshow",
    "settings":[
        {
            "id":"autoplay",
            "type":"checkbox",
            "label":"Autoplay Slideshow",
            "default":true
        },
        {
            "id":"autoplay_speed",
            "type":"range",
            "min":2000,
            "max":8000,
            "step":500,
            "unit":"ms",
            "label":"autoplay speed",
            "default":5000
        }
    ],
    "blocks":[
        {
            "type":"slide",
            "name":"slide",
            "settings":[
                {
                    "id":"image",
                    "type":"image_picker",
                    "label":"image"
                },
                {
                    "id":"title",
                    "type":"text",
                    "label":"title",
                    "placeholder":"slide title"
                },
                {
                    "id":"content",
                    "type":"textarea",
                    "label":"swipe content"
                },
                {
                    "id":"button_url",
                    "type":"url",
                    "label":"Button URL"
                },
                {
                    "id":"button_text",
                    "type":"text",
                    "label":"button text",
                    "placeholder":"Shop now",
                    "info":"Defaults to \"shop now\""
                }
            ]
        }
    ],
    "default": {
    "settings": {
      "autoplay": true
    },
    "blocks": [
      {
        "type": "slide"
      },
      {
        "type": "slide"
      }
    ]
  }
    }

{% endschema %}